body {
  margin: 0px auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 55px;
}
/* header */

header {
  flex-direction: row;
  background-color: #343a40;
  position: sticky;
  top: 0;
  padding: 10px 16px;
}
.menu-top {
  display: flex;
}
.menu-top > ul {
  margin: auto 0px;
  padding: 0px;
  display: flex;
}
.menu-top a.logo {
  margin: 9px 24px 4px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  text-decoration: none;
}
.menu-top li a {
  margin: 0px 8px;
  color: #fff;
  text-decoration: none;
}
.menu-top li {
  list-style: none;
}

/* jombotron */

.jumbotron {
  padding: 64px 55px;
  background-color: #e9ecef;
}
.jumbotron h1 {
  color: #212529;
}

/* card-container */

.card-header {
  color: #000;
  padding: 16px 20px 13px 20px;
}
.profile-card,
.stat-card {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-sizing: border-box;
  border-radius: 4px;
}

.profile-card {
  margin-right: 30px;
}

.card-description {
  padding: 20px;
}
/* table */
.table-container table {
  width: 100%;
}
table td,
table th {
  padding: 12px;
  border: 1px solid #e5e5e5;
}
.container a {
  text-decoration: none;
}
